h1 {
    background-color: lightblue;
    margin: 4px;
    text-align: center;
    border-color: darkcyan;
    border-style: ridge;
    border-radius: 5px;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color:aliceblue;
}
a.recipe {
    display: inline-block;
    background-color:lightblue;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    text-decoration: none;
    border-color: darkcyan;
    border-radius: 10px;
    border-style:double;
}
div.row{
    display: flex;
    flex-direction: row;
    gap: 4px;
}
a>p{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: larger;
}
button{
    background-color: lightblue;
    border-radius: 5px;
    margin: 0px auto 4px 4px;
    border-style: ridge;
}
button>a{
    text-decoration:none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
img.recipe {
    margin: 4px auto;
    border-style:ridge;
    border-color: cadetblue;
    border-radius: 10px;
}
div.flex-container{
    display: flex;
    align-items: center;
    margin: 4px;
}
span.description {
    margin: 4px 10px;
}
span.container {
    display:inline-flex;
    flex-flow: row;
    align-items: baseline;
    background-color:lightblue;
    padding: 4px;
    margin: 4px;
    border-color: cadetblue;
    border-style: ridge;
    border-radius: 10px;
}
h2 {
    margin: 4px;
}